<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title> Blank </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Blank</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-item>
    <ion-label>CustomEvent</ion-label>
    <ion-input (ionChange)="onInputChangeCustom($event)"></ion-input>
  </ion-item>
  <ion-item>
    <ion-label>Any</ion-label>
    <ion-input (ionChange)="onInputChangeAny($event)"></ion-input>
  </ion-item>
  <ion-item>
    <ion-label>Event</ion-label>
    <ion-input (ionChange)="onInputChangeEvent($event)"></ion-input>
  </ion-item>
  <ion-item>
    <ion-label>as CustomEvent</ion-label>
    <ion-input
      (ionChange)="onInputChangeCustom(asInputCustomEvent($event))"
    ></ion-input>
  </ion-item>
</ion-content>
